[user]
	name = Shinichi Katayama
	email = shin1.katayama@gmail.com
[alias]
	st = status
	co = checkout
	br = branch
[color]
	ui = true
[core]
	pager = nkf -w | LESSCHARSET=utf-8 less
[merge]
	keepBackup = false;
	tool = p4merge
[mergetool "p4merge"]
	cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
	keepTemporaries = false
	trustExitCode = false
	keepBackup = false
